<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amemo"
        android:usesCleartextTraffic="true">

        <service
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".allMemberActivity"
            android:exported="false" />

        <activity
            android:name=".ui.group.InGroupActivity"
            android:exported="false" />

        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />

        <activity
            android:name=".AfterLoginActivity"
            android:exported="false"
            android:label="@string/title_activity_after_login" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="false"
            android:label="RegisterUserActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".AlarmReceiver" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

</manifest>